@font-face {
    font-family: fjalla-one;
    src: url(Fjalla-one.woff);
}

@font-face {
    font-family: abel;
    src: url(Abel-Pro.woff);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 90px; /* Pushes the sidebar down by the height of .container-atas */
    left: 0;
    width: 180px;
    height: calc(100vh - 90px); /* Sets the height of the sidebar to the viewport height minus the height of .container-atas */
    background: #262626;
    text-align: center;
    padding-top: 5%; /* Optional: Adjust this as needed for styling */
    box-shadow: 6px 0px #aeaeae;
}

.sidebar a {
    font-size: 22px;
    font-family: "fjalla-one";
    color: #ffffff;
    width: 100%;
}

.sidebar li {
    position: relative; /* Required for positioning the dot */
    padding-left: 35px; /* Space for the dot */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 25px;
}

.sidebar .dot {
    width: 15px; /* Width of the dot */
    height: 15px; /* Height of the dot */
    border-radius: 50%; /* Make it a circle */
    margin-right: -15%;
}

.header-sidebar {
    text-align: center;
    font-size: 30px;
    font-family: "fjalla-one";
    color: #ffffff;
    
}

.line-sidebar{
    margin: 3px auto 100px auto; /* Center the line with auto margins and adjust top/bottom margins */
    width: 80px;
    height: 3px;
    background: #F7E32F;
}

.container-credit{
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-top: 70%;
}

.line-credit{
    width: 160px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 7px;
}

.elka{
    text-align: left;
    font-size: 12px;
    font-family: "abel";
    color: #F7E32F;
    margin-left: 7px;
}

.semegah{
    font-size: 12px;
    font-family: "abel";
    color: #ffffff;
}

.text-credit{
    margin-left: 7px;
    margin-top: 3px;
    font-size: 10px;
    font-family: "abel";
    color: #ffffff;
}

.container-atas {
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: row;
    background: #262626 ;
}

.wrap-atas {
    margin-left: 3%;
}

.header {
    text-align: right;
    font-size: 30px;
    font-family: "fjalla-one";
    color: #ffffff;
}

.line {
    margin-top: 3px;
    width: 440px;
    height: 3px;
    background: #F7E32F;
}

.img {
    margin-left: auto;
    margin-right: 3%;
    width: 70px;
    height: 70px;
}

.gradient-line {
    width: 100%;
    height: 6px;
    position: relative;
    background: linear-gradient(to right, #00D1FF, #8BFF07);
}

.container-tengah {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    width: 100%;
    margin-left: 13%;
}

.wrap-tengah1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panggil {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: #262626;
    font-size: 25px;
    font-family: "fjalla-one";
    color: #ffffff;
}

.btn-panggil {
    font-size: 20px;
    font-family: "fjalla-one";
    color: #262626;
    background: #7EFF5E;
    height: 40px;
    width: 85px;
    border-radius: 8px;
    border: none;
    margin: 7%;
}

.reset {
    margin-top: 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: #262626;
    font-size: 25px;
    font-family: "fjalla-one";
    color: #ffffff;
}

.btn-reset {
    font-size: 20px;
    font-family: "fjalla-one";
    color: #262626;
    background: #FF6969;
    height: 40px;
    width: 85px;
    border-radius: 8px;
    border: none;
    margin: 7%;
}

.box-atur {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background: #262626;
    width: 400px;
    height: 95px;
    border-radius: 20px;
    margin-top: 4%;
}

.atur-up {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input[type="text"]
{
    font-size:17px;
    font-family: "abel";
}

.atur {
    font-size: 25px;
    font-family: "fjalla-one";
    color: #ffffff;
    margin-bottom: 10px;
}

.btn-atur1 {
    font-size: 20px;
    font-family: "fjalla-one";
    color: #262626;
    background: #F7E32F;
    height: 40px;
    width: 85px;
    border-radius: 8px;
    border: none;
    margin-left: 30px;
}

.wrap-tengah2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #262626;
    width: 280px;
    height: 400px;
    border-radius: 35px;
    margin-left: 15%;
}

.text-nomor {
    font-size: 30px;
    font-family: "fjalla-one";
    color: #ffffff;
    width: 200px;
    text-align: center;
    margin-bottom: 20%;
}

.circle {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-bottom: 7%;
}

.nomor-antrian {
    font-size: 82px;
    font-family: "fjalla-one";
    color: #262626;
}
